In [272]:
import requests
import pandas as pd

In [273]:
import lxml.html

### Getting the HTML from the wikipedia

In [274]:
html = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [275]:
doc = lxml.html.fromstring(html.content)

In [276]:
##print(html.content)

### Using XPath to scrape the table for postal codes neighborhoods and burroughs

In [277]:
## using xpath to get all of the postal code, burrough, and neighborhood text data
post_codes = doc.xpath('/html/body/div[3]/div[3]/div[4]/div/table[1]/tbody/tr[*]/td[1]/text()')
burroughs = doc.xpath('/html/body/div[3]/div[3]/div[4]/div/table[1]/tbody/tr[*]/td[2]/text()')
neighborhoods = doc.xpath('/html/body/div[3]/div[3]/div[4]/div/table[1]/tbody/tr[*]/td[3]/text()')
pc = []
b = []
n = []

In [278]:
##print(list(enumerate(post_codes)))
for i in enumerate(post_codes):
    ##print(i)
    pc.append(i[1])

In [279]:
for i in enumerate(burroughs):
    ##print(i)
    b.append(i[1])

In [280]:
del neighborhoods[142]
for i in enumerate(neighborhoods):
    ##print(i)
    n.append(i[1])

### Putting the data into a Data Frame

In [281]:
toronto_dic = {'Postcode':pc, 'Borough':b, 'Neighborhood':n}
df_toronto = pd.DataFrame.from_dict(toronto_dic)
df_toronto.to_csv('toronto_df1')
df_toronto

,Postcode,Borough,Neighborhood
0,M1A\n,Not assigned\n,\n
1,M2A\n,Not assigned\n,\n
2,M3A\n,North York\n,Parkwoods\n
3,M4A\n,North York\n,Victoria Village\n
4,M5A\n,Downtown Toronto\n,Regent Park / Harbourfront\n
...,...,...,...
175,M5Z\n,Not assigned\n,\n
176,M6Z\n,Not assigned\n,\n
177,M7Z\n,Not assigned\n,\n
178,M8Z\n,Etobicoke\n,Mimico NW / The Queensway West / South of Bloo...
179,M9Z\n,Not assigned\n,\n

### Cleaning DataFrame to remove "not assigned" and blank rows

In [282]:
##removing the silly little "\n"'s
df_toronto['Postcode'] = df_toronto['Postcode'].str.replace('\n','')
df_toronto['Borough'] = df_toronto['Borough'].str.replace('\n','')
df_toronto['Neighborhood'] = df_toronto['Neighborhood'].str.replace('\n','')
df_toronto.head(10)

  Postcode           Borough                                  Neighborhood
0      M1A      Not assigned
1      M2A      Not assigned
2      M3A        North York                                     Parkwoods
3      M4A        North York                              Victoria Village
4      M5A  Downtown Toronto                    Regent Park / Harbourfront
5      M6A        North York             Lawrence Manor / Lawrence Heights
6      M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
7      M8A      Not assigned
8      M9A         Etobicoke                              Islington Avenue
9      M1B       Scarborough                               Malvern / Rouge

### New clean data frame below

In [283]:
#removing all rows where neighborhood is not assigned and replacing "/" with commas in Neighborhood column
dft_new = df_toronto[df_toronto.Borough != 'Not assigned']
dft_new['Neighborhood'] = dft_new['Neighborhood'].str.replace(' /',',')
dft_new

C:\Users\brcruz\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Postcode,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road , Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,Business reply mail Processing CentrE
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."